<section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contactez-nous !</h2>
                    <h3 class="section-subheading text-muted-white framed">Pour toute demande de renseignements, d'adhésion ou de simple question, n'hésitez pas à nous contacter en utilisant le formulaire ci-dessous.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form name="sentMessage" id="contactForm" method="post" novalidate action="https://formspree.io/info@festigeek.ch">
                        <input type="hidden" name="_subject" value="Formulaire du site Festigeek" />
                        <div class="row">
                            <div class="col-md-6">
                                <div class="control-group form-group">
                                    <input type="text" class="form-control" placeholder="Votre nom *" id="name" name="name" required data-validation-required-message="Merci d'indiquer votre nom.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="control-group form-group">
                                    <input type="email" class="form-control" placeholder="Votre adresse e-mail *" id="email" name="email" required data-validation-required-message="Merci de renseigner votre adresse.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="control-group form-group">
                                    <input type="tel" class="form-control" placeholder="Votre numéro de téléphone" id="phone" name="phone">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="control-group form-group">
                                    <textarea class="form-control" placeholder="Votre message *" id="message" name="message" required data-validation-required-message="Vous avez oublié le plus important !"></textarea>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-lg-12 text-center">
                                <div id="success"></div>
                                <button type="submit" class="btn btn-xl">Envoyer votre message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
