<!-- Section Equipe -->
    <section id="equipe" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">L'équipe</h2>
                    <h3 class="section-subheading text-muted">Membre du comité de l'association</h3>
                </div>
            </div>
            <div class="row">
                {% for member in site.people %}
                <div class="col-sm-{{ 12 | divided_by: site.people.size | ceil }}">
                    <div class="equipe-member">
                        <img src="img/equipe/{{ member.pic }}.jpg" class="img-responsive img-circle" alt="">
                        <h4>{{ member.name }}</h4>
                        <p class="text-muted">{{ member.position }}</p>
                        <ul class="list-inline social-buttons">
                            {% for network in member.social %}
                            <li>
                                <a href="{{ network.url }}">
                                    <i class="fa fa-{{ network.title }}"></i>
                                </a>
                            </li>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">FestiGeek se compose également de nombreux membres, chacun ayant une place et un poste précis dans les diverses équipes de l'association.
                    <br />Vous retrouverez ces personnes sans qui rien n'aurait été possible sur les sites web des différents <a class="page-scroll" href="#projets">projets</a> affiliés.</p>
                </div>
            </div>
        </div>
    </section>