<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll link-logo-white" href="#page-top">
                    <img src="img/logo_white.png" class="img-responsive img-centered logo" alt="{{site.title}}">
                </a>
                <a class="navbar-brand page-scroll link-logo" href="#page-top">
                    <img src="img/logo.png" class="img-responsive img-centered logo" alt="{{site.title}}">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#valeurs">Nos valeurs</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#projets">Projets</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#histoire">Notre histoire</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#equipe">L'équipe</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <!-- <div class="intro-heading">FestiGeek</div> -->
                <div class="intro-logo"><img src="img/logo_white_text.png" /></div>
                <div class="intro-lead-in">Association geek Yverdonnoise</div>
                <a href="#valeurs" class="page-scroll btn btn-xl">Plus d'infos</a>
            </div>
        </div>
    </header>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->

