<!-- About Section -->
    <section id="histoire">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Notre histoire</h2>
                    <h3 class="section-subheading text-muted">Découvrez l'histoire de l'Association, ses dates clefs et ses plus grandes réussites.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="histoire">
                        <li>
                            <div class="histoire-image">
                                <img class="img-circle img-responsive" src="img/histoire/2013.jpg" alt="">
                            </div>
                            <div class="histoire-panel">
                                <div class="histoire-heading">
                                    <h4>2013</h4>
                                    <h4 class="subheading">Première LAN à la HEIG-VD</h4>
                                </div>
                                <div class="histoire-body">
                                    <p class="text-muted">
                                        De taille très modeste (50 joueurs), la première LAN FestiGeek se déroula dans
                                        le hall d'entrée de la Haute École d'Ingénieurie et de Gestion à Yverdon-les-Bains,
                                        dans le canton de Vaud.
                                        <br />
                                        Elle fut extrêment bien accueillie et des étudiants furent vite appelés pour
                                        poursuivre l'aventure.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="histoire-inverted">
                            <div class="histoire-image">
                                <img class="img-circle img-responsive" src="img/histoire/2014.jpg" alt="">
                            </div>
                            <div class="histoire-panel">
                                <div class="histoire-heading">
                                    <h4>2014</h4>
                                    <h4 class="subheading">Création de l'Association</h4>
                                </div>
                                <div class="histoire-body">
                                    <p class="text-muted">
                                        L'Association s'est créée à l'occasion de la deuxième édition de la LAN, toujours à la HEIG-VD.
                                        Elle est entièrement composée d'étudiants qui se battent à la fois pour proposer un événement de qualité, mais également pour promouvoir leur école et se faire une expérience professionnelle.
                                        <br />Cet esprit d'apprentissage et d'expérimentation suivra l'Association dans tous ses futurs projets.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="histoire-image">
                                <img class="img-circle img-responsive" src="img/histoire/2016.jpg" alt="">
                            </div>
                            <div class="histoire-panel">
                                <div class="histoire-heading">
                                    <h4>2016</h4>
                                    <h4 class="subheading">Les LAN ne suffisent plus</h4>
                                </div>
                                <div class="histoire-body">
                                    <p class="text-muted">
                                        Dès 2016, FestiGeek s'implique de plus en plus dans la vie de campus de la HEIG-VD et de la ville d'Yverdon-les-Bains.
                                        <br />L'Association organise plusieurs mini-tournois et s'engage dans le festival Numerik Games.
                                        <br />En 2018, une game jam, la Game Incubator, est créée par des étudiants passionnés. Elle réunira une trentaine de personnes d'horizons variés et permettra le développement d'un prototype de jeu vidéo en l'espace d'un simple week-end.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="histoire-inverted">
                            <div class="histoire-image">
                                <img class="img-circle img-responsive" src="img/histoire/2019.jpg" alt="">
                            </div>
                            <div class="histoire-panel">
                                <div class="histoire-heading">
                                    <h4>2019</h4>
                                    <h4 class="subheading">Un pas dans l'eSport</h4>
                                </div>
                                <div class="histoire-body">
                                    <p class="text-muted">
                                        En pleine mutation, l'Association se voit contrainte pour la première fois de faire l'impasse sur sa LAN annuelle.
                                        <br />Un coup dur qui ne l'empêche pas, suite à une idée folle, de fonder la structure Yverdon E-Sports, avec une dizaine de joueurs d'Overwatch.
                                        <br />Contre toute attente, le projet prend une ampleur phénoménale et quelques mois après sa création, c'est près d'une trentaine de joueurs qui composent les rangs de la structure. 
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="histoire-inverted">
                            <div class="histoire-image">
                                <h4>
                                    <a class="page-scroll" href="#contact">
                                        Rejoingnez
                                        <br>nous dans
                                        <br>l'aventure !
                                    </a>
                                </h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>