<!-- Partenaires Aside -->
    <aside class="partenaires">
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-sm-6 col-md-offset-1">
                    <a href="#">
                        <img src="img/logos/heigvd-nb.png" class="img-responsive img-centered" alt="heig-vd">
                    </a>
                </div>
                <div class="col-md-2 col-sm-6">
                    <a href="#">
                        <img src="img/logos/nji-nb.png" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-2 col-sm-6">
                    <a href="#">
                        <img src="img/logos/nglogo2019-nb.png" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-2 col-sm-6">
                    <a href="#">
                        <img src="img/logos/qwertz-nb.png" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-2 col-sm-6">
                    <a href="#">
                        <img src="img/logos/yverdon-nb.png" class="img-responsive img-centered" alt="">
                    </a>
                </div>
            </div>
        </div>
    </aside>