<!-- projets Grid Section -->
    <section id="projets" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Nos projets</h2>
                    <h3 class="section-subheading text-muted">Vous trouverez ci-dessous plusieurs exemples de projets construits pour ou avec l'aide de l'association FestiGeek.</h3>
                </div>
            </div>
            <div class="row">
            {% for post in site.posts reversed %}
                <div class="col-md-4 col-sm-6 projets-item">
                    <a href="#projetsModal{{ post.modal-id }}" class="projets-link" data-toggle="modal">
                        <div class="projets-hover">
                            <div class="projets-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/projets/{{ post.thumbnail }}" class="img-responsive img-centered" alt="">
                    </a>
                    <div class="projets-caption">
                        <h4>{{ post.title }}</h4>
                        <p class="text-muted">{{ post.subtitle }}</p>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </section>
