<!-- Section nos valeurs -->
    <section id="valeurs">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Nos valeurs</h2>
                    <h3 class="section-subheading text-muted">
                        À travers nos divers projets, nous visons à augmenter le rayonnement de la culture geek en Suisse et permettre l’expression de celle-ci sous toutes ses formes.
                        Notre mission est de promouvoir la culture geek pour en faire profiter le plus grand nombre. FestiGeek organise principalement des événements thématiques au sein de la Haute École d'Ingénieurie et de Gestion du canton de Vaud et à l'extérieur, en collaborant avec d'autres acteurs du milieu.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-gamepad fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Culture Geek & E-Sport</h4>
                    <p class="text-muted">
                        Au centre de nos projets, la culture geek, les nouvelles technologies, les jeux vidéos, l'eSport et tout ce qui compose ces univers sont notre passion.
                        <br />La plupart d'entre nous avons grandi durant les balbutiements de ce mouvement culturel, et c'est avec une certaine satisfaction qu'aujourd'hui,
                        nous prouvons qu'il est possible d'organiser de grandes choses et de rassembler de nombreux adeptes autour de ces sujets.
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-graduation-cap fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Découverte & apprentissage</h4>
                    <p class="text-muted">
                        Dès sa création, FestiGeek a toujours cherché à mettre en avant les connaissances et les créations de ses membres, ainsi qu'à accompagner efficacement nos membres dans leur futur professionnel.
                        <br />Cet esprit a perduré et permet aujourd'hui de former nos membres à la vie active et assure qualité de nos projets.
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lightbulb-o  fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Incubateur d'innovations</h4>
                    <p class="text-muted">
                        Il n'est parfois pas facile de se lancer dans un projet qui vous tient à coeur. Surtout quand cela demande de l'organisation et des moyens.
                        <br />Festigeek s'engage à étudier et soutenir les idées des gens qui aimeraient créer quelque chose pour notre région et pour la communauté Geek.
                        <br />N'hésitez pas à visiter notre section <a class="page-scroll" href="#projects">projets</a>, afin de découvrir les succes story des personnes qui nous ont fait confiance !
                    </p>
                </div>
            </div>
        </div>
    </section>