<!DOCTYPE html>
<html>

  {% include head.html %}


    <body id="page-top" class="index">

    {% include header.html %}
    {% include valeurs.html %}
    {% include projets.html %}
    {% include histoire.html %}
    {% include equipe.html %}
    {% include partenaires.html %}
    {% include contact.html %}
    {% include footer.html %}
    {% include modals.html %}
    {% include js.html %}

    </body>
</html>